.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  background: rgba(0, 0, 0, 0.5);
}
.modalContent {
  position: relative;
  background-color: #111f26;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
}
.input {
  width: 280px;
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #000;
}

.error {
  background: none;
  color: red;
  font-weight: 400;
  font-size: 15px;
}
