.button {
  margin-top: 10px;
  background-color: #009c4f;
  color: #fff;
  outline: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
  color: #666;
}
