.wrapper {
  display: flex;
  justify-content: right;
}
.userIcon {
  display: flex;
  color: #fff;
  background-color: #009c4f;
  background-position: right;
  padding: 15px 0px 20px 10px;
  border-radius: 6px;
}
.button {
  border: none;
  background: url(./out.svg) no-repeat;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  align-content: center;
  cursor: pointer;
}
.userName {
  align-content: center;
}
