.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.modalContent {
  position: relative;
  background: #111f26;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 5px;
}
