.container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  gap: 15px;
}
.addEventContainer {
  display: flex;
  flex-direction: column;
}
.eventName {
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  outline: none;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
