@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  background-color: #202020;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.DivWButtons {
  display: flex;
  justify-content: right;
}

.Button1,
.Button2 {
  background-color: #fff;
  color: #000;
  outline: none;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
.Button1:hover,
.Button2:hover {
  background-color: #ffffffce;
}
